<%- include("../partials/header") %>

<div id="newWatchlistSection">
	<h1>Edit <%= watchList.name%></h1>
	<div id="newWatchlistContainer">
		<div id="formContainer">
			<form action="/watch/<%= watchList._id%>?_method=PUT" method="POST" id="newWLForm">
				<input type="text" name="watchList[name]" value="<%= watchList.name%>" required>
				<textarea name="watchList[description]" value="<%= watchList.description%>" form="newWLForm"></textarea>
				<button id="newWatchlistButton"><i class="fas fa-edit"></i><span>Update</span></button>
			</form>
		</div>
	</div>
</div>

<%- include("../partials/footer") %>