<%- include("../partials/header") %>

<div id="watchlistsContainer">
	<div id="containerHeader">
		<h1> My WatchLists </h1>
	</div>
	<div id="watchlistsBody">
		<div id="watchlistsContent" >
			<div id="addList">
				<div id="iconContainer">
					<a href="/watch/new"><i class="fas fa-plus"></i></a>
				</div>
			</div>
			<% if(watchLists.length > 0) {%>
				<% for(var i = 0; i < watchLists.length; i++) {%>
					<div class="watchlist-selection">
						<div class="watchlist-content">
							<a href="/watch/<%= watchLists[i]._id %>">
								<div class="watchlist-body">
									<%if(watchLists[i].imageList.length === 0){%>
										<div class="noImage"><i class="fas fa-film"></i></div>
									<%}else if(watchLists[i].imageList.length < 4) {%>
										<div class="oneImage"><img src="<%= watchLists[i].imageList[0] %>"></div>
									<%} else {%>
										<div class="imageRow">
											<img src="<%= watchLists[i].imageList[0] %>">
											<img src="<%= watchLists[i].imageList[1] %>">
										</div>
										<div class="imageRow">
											<img src="<%= watchLists[i].imageList[2] %>">
											<img src="<%= watchLists[i].imageList[3] %>">
										</div>
									<%}%>
								</div>
							</a>
							<div class="watchlist-selection-title">
								<h7>
									<%if(watchLists[i].name.length > 30) {%>
										<a href="/watch/<%= watchLists[i]._id%>"><%= watchLists[i].name.substring(0, 30) + "..."%></a>
									<%}else{%>
										<a href="/watch/<%= watchLists[i]._id%>"><%= watchLists[i].name%></a>
									<%}%>
								</h7>
							</div>
						</div>
					</div>
				<%}%>
			<%}%>
		</div>
	</div>
</div>

<%- include("../partials/footer") %>