<%- include("../partials/header") %>

<div id="watchlistsContainer">
	<h1> My WatchLists </h1>
	<div id="watchlistsBody">
		<div id="watchlistsContent" >
			<div class="watchlistsRow">
				<div id="addList">
					<div id="iconContainer">
						<a href="/watch/new"><i class="fas fa-plus"></i></a>
					</div>
				</div>
				<% if(watchlists.length > 0) {%>
					<% for(var i = 0; i < watchlists.length; i++) {%>
						<%if(i !== 5) {%>
							<div class="watchlist-selection">
								<div class="watchlist-content">
									<a href="/watch/show">
										<h4><%= watchlists[i].name%></h4>
									</a>
								</div>
							</div>
						<%}else{%>
							<%break;%>
						<%}%>
					<%}%>
				<%}%>
			</div>
			<% if(watchlists.length > 5) {%>
				<% const remainingLists = watchlists.length - 5; %>
				<% const numberOfRows = Math.floor(remainingLists/6) + remainingLists%6; %>
				<% var index = 5; %>
			
				<% if (remainingLists < 6) { %>
					<div class="watchlistsRow">
					<% for(var i = 0; i < remainingLists; i++) {%>
						<div class="watchlist-selection">
							<div class="watchlist-content">
								<a href="#">
									<h4><%= watchlists[index+i].name %></h4>
								</a>
							</div>
						</div>
					<%}%>
					</div>
				<%} else { %>
					<% for(var i = 0; i < numberOfRows; i++) {%>
						<div class="watchlistsRow">
						<% for(var j = 0; j < 6; j++) {%>
							<div class="watchlist-selection">
								<div class="watchlist-content">
									<a href="#">
										<h4><%= watchlists[index].name%></h4>
									</a>
								</div>
							</div>
							<% if(index !== watchlists.length - 1){index++} else{break;}; %>
						<%}%>
						</div>
					<%}%>
				<%}%>
			<%}%>
		</div>
	</div>
</div>

<%- include("../partials/footer") %>