<%- include("../partials/header") %>

<div id="watchContainer">
	<div id="watchContainerHeader">
		<div id="header-leftContainer">
			<div id="header-imageContainer">
				<%if(watchList.imageList.length === 0){%>
					<div class="noImage"><i class="fas fa-film"></i></div>
				<%}else if(watchList.imageList.length < 4) {%>
					<div class="oneImage"><img src="<%= watchList.imageList[0] %>"></div>
				<%} else {%>
					<div class="imageRow">
						<img src="<%= watchList.imageList[0] %>">
						<img src="<%= watchList.imageList[1] %>">
					</div>
					<div class="imageRow">
						<img src="<%= watchList.imageList[2] %>">
						<img src="<%= watchList.imageList[3] %>">
					</div>
				<%}%>
			</div>
			<div id="watchListOptions">
				<!-- <button class="button"><i class="fas fa-ellipsis-h"></i></button> -->
				<button class="button" name="Edit">
					<a href="/watch/<%=watchList._id%>/edit"><i class="fas fa-edit"></i><span>Edit</span></a>
				</button>
				<form action="/watch/<%=watchList._id%>?_method=DELETE" method="POST">
					<button class="button" name="Remove"><i class="fas fa-trash-alt"></i><span>Remove</span></button>
				</form>
			</div>
		</div>
		<div id="header-detailsContainer">
			<div id="mainDetailsContainer">
				<h1><%= watchList.name %></h1>
				<p><i>Created <%= watchList.dateAdded.toDateString()%></i></p>
			</div>
			<div id="descriptionContainer">
				<p><%= watchList.description%></p>
			</div>	
		</div>
	</div>
	
	<div id="watchBody">
		<div id="watchContent" >
			<% if(selectionList.length > 0) {%>
				<% selectionList.forEach(function(movie){ %>
					<div class="watch-selection">
						<div class="imgContainer">
							<% if (movie["image"] === 'N/A') {%>
								<div class="posterUnavailable"><i class="fas fa-images"></i><span>Poster Unavailable</span></div>
							<%} else {%>
								<img src="<%= movie["image"]%>" alt="Poster Unavailable">
							<%}%>
						</div>
						<div class="watch-selection-body">
							<div class="watch-selection-info">
								<% if(movie["title"].length > 50) {%>
									<h5 class="watch-selection-title"><%= movie["title"].substring(0, 50) + "..."%></h5>
								<%} else { %>
									<h5 class="watch-selection-title"><%= movie["title"]%></h5>
								<% } %>
								<p><i>Added <%= movie.dateAdded.toDateString()%></i></p>
							</div>
							<div class="watch-selection-options">
								<button class="button"> 
									<a href="/search/<%= movie["imdbID"]%>"><i class="fas fa-info-circle"></i><span>Details</span></a>
								</button>
								<form action="/watch/<%=watchList._id%>/selection/<%=movie._id%>?_method=DELETE" method="POST">
									<button class="button" name="Remove"><i class="fas fa-trash-alt"></i><span>Remove</span></button>
								</form>
							</div>
						</div>
					</div>
				<% }); %>
			<% } else { %>
				<h1> Empty </h1>
			<%}%>
		</div>
	</div>
</div>

<%- include("../partials/footer") %>