<%- include("../partials/header") %>

<div id="watchContainer">
	<h1>My Watch List</h1>
	<div id="watchBody">
		<div id="watchContent" >
			<% if(watchList !== undefined && movieDetails !== undefined) {%>
				<% movieDetails.forEach(function(movie, i){ %>
					<div class="watch-selection">
						<div class="imgContainer">
							<% if (movie["Poster"] === 'N/A') {%>
								<div class="posterUnavailable"><i class="fas fa-images"></i><span>Poster Unavailable</span></div>
							<%} else {%>
								<img src="<%= movie["Poster"]%>" alt="Poster Unavailable">
							<%}%>
						</div>
						<div class="watch-selection-body">
							<div class="watch-selection-info">
								<% if(movie["Title"].length > 50) {%>
									<h5 class="watch-selection-title"><%= movie["Title"].substring(0, 50) + "..."%></h5>
								<%} else { %>
									<h5 class="watch-selection-title"><%= movie["Title"]%></h5>
								<% } %>
								<p><i>Added <%= watchList[i].dateAdded.toDateString()%></i></p>
							</div>
							<div class="watch-selection-options">
								<form action="/watch/<%= movie["imdbID"]%>?_method=DELETE" method="POST">
									<input type="text" name="fromWatchList" value="true">
									<button class="button" name="Remove"><i class="fas fa-check"></i> Remove </button>
								</form>
								<a href="/search/<%= movie["imdbID"]%>" class="button">
									<i class="fas fa-info-circle"></i> Details
								</a>
							</div>
						</div>
					</div>
				<% }); %>
			<% } else { %>
				<h1> Try Asking Again.... </h1>
			<%}%>
		</div>
	</div>
</div>

<%- include("../partials/footer") %>