<%- include("../partials/header") %>

<div id="resultsContainer">
	<h1> Results Page for: "<%= search %>"</h1>
	<div id="resultsBody">
		<div class="scrollContainer">
			<a id="scrollLeft" class="scrollButtonFade" href="#"><i class="fas fa-arrow-left"></i></a>
		</div>
		
		<div id="resultsContent" >
			<% if(movieResults !== undefined) {%>
				<% movieResults.forEach(function(movie, i){ %>
					<div class="selection fade">
						<div class="imgContainer">
							<% if (movie["Poster"] === 'N/A') {%>
								<div class="posterUnavailable"><i class="fas fa-images"></i><span>Poster Unavailable</span></div>
							<%} else {%>
								<img src="<%= movie["Poster"]%>" alt="Poster Unavailable">
							<%}%>
						</div>
						<div class="selection-body">
							<div class="selection-info">
								<% if(movie["Title"].length > 40) {%>
									<h5 class="selection-title"><%= movie["Title"].substring(0, 40) + "..."%></h5>
								<%} else { %>
									<h5 class="selection-title"><%= movie["Title"]%></h5>
								<% } %>
								
								<% if(detailList[i].length >= 100) {%>
									<p><%= detailList[i].substring(0, 100) + "..."%></p>
								<%} else {%>
									<p><%= detailList[i]%></p>
								<% } %>
							</div>
							<div class="selection-options">
								<button class="button addToWatchlistButton" name="Add" value="<%= JSON.stringify(movie) %>"><i class="fas fa-plus"></i> Add</button>
								<button class="button"> 
									<a href="/search/<%= movie["imdbID"]%>"><i class="fas fa-info-circle"></i> Details</a>
								</button>
							</div>
						</div>
					</div>
				<% }); %>
			<% } else { %>
				<h1> Try Asking Again.... </h1>
			<%}%>
		</div>
		<div class="scrollContainer">
			<a id="scrollRight" class="scrollButtonFade" href="#"><i class="fas fa-arrow-right"></i></a>
		</div>
	</div>
</div>

<div id="addToWatchlist">
	<!-- Modal content -->
	<div id="addToWatchlist-content">
		<span id="close">X</span>
		<div id="watchlistsContent" >
			<div class="watchlistsRow">
				<div id="addList">
					<div id="iconContainer">
						<a href="/watch/new"><i class="fas fa-plus"></i></a>
					</div>
				</div>
				<% if(watchLists.length > 0) {%>
					<% for(var i = 0; i < watchLists.length; i++) {%>
						<%if(i !== 5) {%>
							<div class="watchlist-selection">
								<div class="watchlist-content">
									<button name="Add" value="<%= watchLists[i]._id%>">
										<h4><%= watchLists[i].name%></h4>
									</button>
								</div>
							</div>
						<%}else{%>
							<%break;%>
						<%}%>
					<%}%>
				<%}%>
			</div>
			<% if(watchLists.length > 5) {%>
				<% const remainingLists = watchLists.length - 5; %>
				<% const numberOfRows = Math.floor(remainingLists/6) + remainingLists%6; %>
				<% var index = 5; %>
			
				<% if (remainingLists < 6) { %>
					<div class="watchlistsRow">
					<% for(var i = 0; i < remainingLists; i++) {%>
						<div class="watchlist-selection">
							<div class="watchlist-content">
								<button name="Add" value="<%= watchLists[index+i]._id%>">
									<h4><%= watchLists[index+i].name %></h4>
								</button>
							</div>
						</div>
					<%}%>
					</div>
				<%} else { %>
					<% for(var i = 0; i < numberOfRows; i++) {%>
						<div class="watchlistsRow">
						<% for(var j = 0; j < 6; j++) {%>
							<div class="watchlist-selection">
								<div class="watchlist-content">
									<button name="Add" value="<%= watchLists[index]._id%>">
										<h4><%= watchLists[index].name%></h4>
									</button>
								</div>
							</div>
							<% if(index !== watchLists.length - 1){index++} else{break;}; %>
						<%}%>
						</div>
					<%}%>
				<%}%>
			<%}%>
		</div>
	</div>
</div>

<%- include("../partials/footer") %>