<%- include("../partials/header") %>

<div id="resultsContainer">
	<div id="containerHeader">
		<h1> Results Page for: "<%= search %>"</h1>
	</div>
	<div id="resultsBody">
		<% if(movieResults.length > 0) {%>
			<div class="scrollContainer">
				<a id="scrollLeft" class="scrollButtonFade" href="#"><i class="fas fa-arrow-left"></i></a>
			</div>

			<div id="resultsContent" >
				<% movieResults.forEach(function(movie, i){ %>
					<div class="selection selection-hasHover fade">
							<% if (movie["Poster"] === 'N/A') {%>
								<div class="posterUnavailable"><i class="fas fa-images"></i><span>Poster Unavailable</span></div>
							<%} else {%>
								<div class="imgContainer">
									<img src="<%= movie["Poster"]%>" alt="Poster Unavailable">
								</div>
							<%}%>
						<div class="selection-body">
							<div class="selection-info">
								<% if(movie["Title"].length > 40) {%>
									<h5 class="selection-title"><%= movie["Title"].substring(0, 40) + "..."%></h5>
								<%} else { %>
									<h5 class="selection-title"><%= movie["Title"]%></h5>
								<% } %>
								<% if(detailList[i].length >= 100) {%>
									<p><%= detailList[i].substring(0, 100) + "..."%></p>
								<%} else {%>
									<p><%= detailList[i]%></p>
								<% } %>
							</div>
							<div class="selection-options">
								<% if(currentUser) { %> <!-- Checks if the res.locals.currentUser has been defined -->
									<button class="button addToWatchlistButton" name="Add" value="<%= JSON.stringify(movie) %>"><i class="fas fa-plus"></i><span>Add</span></button>
								<%}%>
								<button class="button"> 
									<a href="/search/<%= movie["imdbID"]%>"><i class="fas fa-info-circle"></i><span>Details</span></a>
								</button>
							</div>
						</div>
					</div>
				<% }); %>
			</div>
			<div class="scrollContainer">
				<a id="scrollRight" class="scrollButtonFade" href="#"><i class="fas fa-arrow-right"></i></a>
			</div>
		<% } else { %>
			<div id="notFound">
				<h1> No results found.. Try asking again! </h1>
			</div>
		<%}%>
	</div>
</div>

<!-- Popups -->

<div id="addToWatchlist">
	<!-- Modal content -->
	<div id="addToWatchlist-content">
		<span id="close"><i class="fas fa-times"></i></span>
		<h1>Add to Watchlist</h1>
		<div id="watchlistsContent" >
			<div id="addList">
				<div id="iconContainer" class="popUp-iconContainer">
					<a href="/watch/new"><i class="fas fa-plus"></i></a>
				</div>
			</div>
			<% if(watchLists.length > 0) {%>
				<% for(var i = 0; i < watchLists.length; i++) {%>
					<div class="watchlist-selection">
						<div class="watchlist-content">
							<button class="popUp-style" name="Add" value="<%= watchLists[i]._id %>">
								<div class="watchlist-body">
									<%if(watchLists[i].imageList.length === 0){%>
										<div class="noImage"><i class="fas fa-film"></i></div>
									<%}else if(watchLists[i].imageList.length < 4) {%>
										<div class="oneImage"><img src="<%= watchLists[i].imageList[0] %>"></div>
									<%} else {%>
										<div class="imageRow">
											<img src="<%= watchLists[i].imageList[0] %>">
											<img src="<%= watchLists[i].imageList[1] %>">
										</div>
										<div class="imageRow">
											<img src="<%= watchLists[i].imageList[2] %>">
											<img src="<%= watchLists[i].imageList[3] %>">
										</div>
									<%}%>
								</div>
							</button>
							<div class="watchlist-selection-title popUp-style">
								<h7>
									<%if(watchLists[i].name.length > 30) {%>
										<button name="Add" value="<%= watchLists[i]._id %>"><%= watchLists[i].name.substring(0, 30) + "..."%></button>
									<%}else{%>
										<button name="Add" value="<%= watchLists[i]._id %>"><%= watchLists[i].name%></button>
									<%}%>
								</h7>
							</div>
						</div>
					</div>
				<%}%>
			<%}%>
		</div>
	</div>
</div>

<%- include("../partials/footer") %>