<%- include("../partials/header") %>

<div id="detailsSection">
	<div id="detailsContainer">
		<div id="detailsContent">
			<div id="movie-body">
				<div id="imgContainer">
					<% if (results["Poster"] === 'N/A') {%>
						<div id="posterUnavailable"><i class="fas fa-images"></i><span>Poster Unavailable</span></div>
					<%} else {%>
						<img src="<%= results["Poster"]%>" alt="Poster Unavailable">
					<%}%>
				</div>
				<div id="movie-info">
					<h2 id="movie-title"><%= results["Title"]%></h2>
					<div id="movie-details">
						<div id="major-details">
							<div id="year"><h4><%= results["Year"]%></h4></div>
							<span> | </span>
							<div id="runtime"><h4><%= results["Runtime"]%></h4></div>
							<span> | </span>
							<div id="rating"><h4><%= results["Rated"]%></h4></div>
						</div>
						<div id="minor-details">
							<div class="detail">
								<h4>Director(s): </h4>
								<div class="detail-list">
									<% const directorList = results["Director"].split(", "); %>
									<% for(var i = 0; i < directorList.length; i++) {%>
										<span><%= directorList[i] %></span>
									<% } %>
								</div>
							</div>
							<div class="detail">
								<h4>Starring: </h4>
								<div class="detail-list">
									<% const castList = results["Actors"].split(", "); %>
									<% for(var i = 0; i < castList.length; i++) {%>
										<span><%= castList[i] %></span>
									<% } %>
								</div>
							</div>
							<div class="detail">
								<h4>Genre(s): </h4>
								<div class="detail-list">
									<% const genreList = results["Genre"].split(", "); %>
									<% for(var i = 0; i < genreList.length; i++) {%>
										<span><%= genreList[i] %></span>
									<% } %>
								</div>
							</div>
						</div>
					</div>
					<div id="plotContainer">
						<p><%= results["Plot"]%></p>
					</div>
				</div>
			</div>
			<div id="movie-options">
				<div id="addToList">
					<button class="button" name="Add" value="<%= JSON.stringify(results) %>"><i class="fas fa-plus"></i> Add to Watchlist</button>
				</div>
				<div id="movie-providers">
					<% if (providers.length === 0) {%>
						<p>
							This selection is currently unavailable on all streaming platforms.
						</p>
					<%} else { %>
						<p>
							Available on:
						</p>
						<% providers.forEach(function(provider) {%>
							<a class="button" href="<%= provider["url"]%>">
								<div class="iconContainer">
									<!-- < % if(provider["display_name"] === "Disney+") {% >  -->
										<!-- Disney plus's icon returns a 404..  -->
										<!-- <h4>< %= provider["display_name"] % ></h4>
									< %} else {% > -->
									<img src="<%= provider["icon"]%>" alt="<%= provider["display_name"]%>">
									<!-- < % } % > -->
								</div>
							</a>
						<%});%>
					<%}%>
				</div>
			</div>
		</div>	
	</div>
</div>

<div id="addToWatchlist">
	<!-- Modal content -->
	<div id="addToWatchlist-content">
		<span id="close"><i class="fas fa-times"></i></span>
		<h1>Add to Watchlist</h1>
		<div id="watchlistsContent" >
			<div class="watchlistsRow">
				<div id="addList">
					<div id="iconContainer" class="popUp-iconContainer">
						<a href="/watch/new"><i class="fas fa-plus"></i></a>
					</div>
				</div>
				<% if(watchLists.length > 0) {%>
					<% for(var i = 0; i < watchLists.length; i++) {%>
						<%if(i !== 5) {%>
							<div class="watchlist-selection">
								<div class="watchlist-content">
									<button class="popUp-style" name="Add" value="<%= watchLists[i]._id %>">
										<div class="watchlist-body">
											<%if(watchLists[i].imageList.length === 0){%>
												<div class="noImage"><i class="fas fa-film"></i></div>
											<%}else if(watchLists[i].imageList.length < 4) {%>
												<div class="oneImage"><img src="<%= watchLists[i].imageList[0] %>"></div>
											<%} else {%>
												<div class="imageRow">
													<img src="<%= watchLists[i].imageList[0] %>">
													<img src="<%= watchLists[i].imageList[1] %>">
												</div>
												<div class="imageRow">
													<img src="<%= watchLists[i].imageList[2] %>">
													<img src="<%= watchLists[i].imageList[3] %>">
												</div>
											<%}%>
										</div>
									</button>
									<div class="watchlist-selection-title popUp-style">
										<h7>
											<%if(watchLists[i].name.length > 30) {%>
												<button name="Add" value="<%= watchLists[i]._id %>"><%= watchLists[i].name.substring(0, 30) + "..."%></button>
											<%}else{%>
												<button name="Add" value="<%= watchLists[i]._id %>"><%= watchLists[i].name%></button>
											<%}%>
										</h7>
									</div>
								</div>
							</div>
						<%}else{%>
							<%break;%>
						<%}%>
					<%}%>
				<%}%>
			</div>
			<% if(watchLists.length > 5) {%>
				<% const remainingLists = watchLists.length - 5; %>
				<% const numberOfRows = Math.floor(remainingLists/6) + remainingLists%6; %>
				<% var index = 5; %>
			
				<% if (remainingLists < 6) { %>
					<div class="watchlistsRow">
					<% for(var i = 0; i < remainingLists; i++) {%>
						<div class="watchlist-selection">
							<div class="watchlist-content">
								<button class="popUp-style" name="Add" value="<%= watchLists[index+i]._id %>">
									<div class="watchlist-body">
										<%if(watchLists[index+i].imageList.length === 0){%>
											<div class="noImage"><i class="fas fa-film"></i></div>
										<%}else if(watchLists[index+i].imageList.length < 4) {%>
											<div class="oneImage"><img src="<%= watchLists[index+i].imageList[0] %>"></div>
										<%} else {%>
											<div class="imageRow">
												<img src="<%= watchLists[index+i].imageList[0] %>">
												<img src="<%= watchLists[index+i].imageList[1] %>">
											</div>
											<div class="imageRow">
												<img src="<%= watchLists[index+i].imageList[2] %>">
												<img src="<%= watchLists[index+i].imageList[3] %>">
											</div>
										<%}%>
									</div>
								</button>
								<div class="watchlist-selection-title popUp-style">
									<h7>
										<%if(watchLists[index+i].name.length > 30) {%>
											<button name="Add" value="<%= watchLists[index+i]._id %>"><%= watchLists[index+i].name.substring(0, 30) + "..."%></button>
										<%}else{%>
											<button name="Add" value="<%= watchLists[index+i]._id %>"><%= watchLists[index+i].name%></button>
										<%}%>
									</h7>
								</div>
							</div>
						</div>
					<%}%>
					</div>
				<%} else { %>
					<% for(var i = 0; i < numberOfRows; i++) {%>
						<div class="watchlistsRow">
						<% for(var j = 0; j < 6; j++) {%>
							<div class="watchlist-selection">
								<div class="watchlist-content">
									<button class="popUp-style" name="Add" value="<%= watchLists[index]._id %>">
										<div class="watchlist-body">
											<%if(watchLists[index].imageList.length === 0){%>
												<div class="noImage"><i class="fas fa-film"></i></div>
											<%}else if(watchLists[index].imageList.length < 4) {%>
												<div class="oneImage"><img src="<%= watchLists[index].imageList[0] %>"></div>
											<%} else {%>
												<div class="imageRow">
													<img src="<%= watchLists[index].imageList[0] %>">
													<img src="<%= watchLists[index].imageList[1] %>">
												</div>
												<div class="imageRow">
													<img src="<%= watchLists[index].imageList[2] %>">
													<img src="<%= watchLists[index].imageList[3] %>">
												</div>
											<%}%>
										</div>
									</button>
									<div class="watchlist-selection-title popUp-style">
										<h7>
											<%if(watchLists[index].name.length > 30) {%>
												<button name="Add" value="<%= watchLists[index]._id %>"><%= watchLists[index].name.substring(0, 30) + "..."%></button>
											<%}else{%>
												<button name="Add" value="<%= watchLists[index]._id %>"><%= watchLists[index].name%></button>
											<%}%>
										</h7>
									</div>
								</div>
							</div>
							<% if(index !== watchLists.length - 1){index++} else{break;} %>
						<%}%>
						</div>
					<%}%>
				<%}%>
			<%}%>
		</div>
	</div>
</div>

<%- include("../partials/footer") %>